@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  flex-grow: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  /* Variable Styles */
  --c-brand: #00d1b2;
  --c-brand-rgb: 0, 209, 178;
  --c-black: #333;
}

#portal {
  /* Variable Styles */
  --c-brand: #00d1b2;
  --c-brand-rgb: 0, 209, 178;
  --c-black: #333;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  font-family: inherit;
}

.main {
  width: 100%;
}

/* Top Navigation */
.top-nav {
  padding: 1rem 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(51, 51, 51, .25);
}

.top-nav-brand {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 1rem;
}

.top-nav-settings-cart {
  display: flex;
  align-items: flex-end;
  align-items: center;
  gap: 1rem;
}

.brand-icon {
  background: var(--c-brand);
  height: 2rem;
}

.top-nav .button {
  background-color: white;
  border: none;
  font-size: 1.5rem;
  display: grid;
  place-content: center;
  color: var(--c-brand);
  padding: .5rem;
  border: 1.5px solid var(--c-brand);
  border-radius: 50%;
}

.button a {
  color: var(--c-brand);
  display: grid;
  place-content: center;
}

.top-nav .button:hover, .top-nav .button a:hover {
  cursor: pointer;
  color: white;
  background-color: var(--c-brand);
  transition: .2s ease-in-out;
}

/* Landing */
.landing {
  padding-top: 85px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(var(--c-brand-rgb), 0.5);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  gap: 1rem;
}

.title-text {
  text-shadow: white 1px 1px 5px;
}

.title-text h1 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.title-text h2 {
  font-weight: 300;
  font-size: 1rem;
}

.title-image {
  width: 75%;
  display: flex;
  margin: auto;
}

.img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

/* Product Feed */
.product-feed {
  margin: 0 auto 2rem auto;
}

.product-feed h2 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.product-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Product Card */
.product-card {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  min-height: 200px;
  max-height: 300px;
  padding: 1rem;
  gap: 1.5rem;
  box-shadow: 5px 5px 15px rgba(51, 51, 51, .1);
  max-width: 750px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
}

.product-card-l {
  flex: 1;
  display: grid;
  place-content: center;
}

.product-card-r {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: .75rem;
}

.product-card .img-container {
  width: 100%;
}

.product-card-l .img-container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.product-card .title {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.product-card .price {
  color: var(--c-brand);
  font-size: 1.2rem;
  font-weight: 500;
}

.product-card .price-unit {
  font-size: .85rem;
}

.product-card .quantity {
  font-size: .8rem;
}

.btn__add-to-cart {
  padding: .5rem 1rem;
  background-color: var(--c-brand);
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
}

.btn__add, .btn__subtract {
  background-color: var(--c-brand);
  font-size: .75rem;
  display: grid;
  place-content: center;
  color: white;
  border-radius: 50%;
  padding: .25rem;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 10;
}

/* Cart Modal */
.cart-modal {
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: white;
  max-width: 800px;
  max-height: 50%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.cart-items {
  padding-right: 1rem;
  overflow-y: auto;
  flex: 2;
}

.cart-items-title {
  font-weight: 400;
  margin-bottom: 1rem;
}

.totals {
  flex: 1;
  padding-left: .5rem;
}

.totals .values {
  text-align: right;
  white-space: nowrap;
}

.totals .values {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.total {
  margin: .5rem 0;
  font-weight: 500;
}

/* Cart Product */
.cart-product {
  margin-bottom: 1rem;
}

.cart-product .grid-row {
  display: grid;
  grid-template-columns: 1fr 3fr 2.5fr;
  column-gap: .5rem;
}

.cart-product .grid-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.cart-product .title {
  font-size: 1rem;
  font-weight: 300;
  border-bottom: 1px solid var(--c-black);
  margin-bottom: 0.5rem;
}

.cart-product .quantity-buttons {
  gap: .25rem;
  white-space: nowrap;
}

.cart-product .quantity {
  font-weight: 300;
  font-size: .75rem;
}

.cart-product .subtotal {
  font-weight: 500;
  font-size: .75rem;
  text-align: center;
}

.cart-product .img-container {
  width: 100%;
}

.cart-product img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.btn__remove {
  background: none;
  font-size: 1rem;
  display: grid;
  place-content: center;
  color: red;
  padding: .25rem;
  border: none;
}

.btn__cancel {
  background: none;
  font-size: 2rem;
  display: grid;
  place-content: center;
  color: var(--c-black);
  padding: .25rem;
  border: none;
}

.btn__checkout {
  padding: .5rem 1rem;
  background-color: var(--c-brand);
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
}

.cancel {
  justify-content: flex-end;
}

.signature {
  margin-top: 0.5rem;
  display: grid;
  place-content: center;
  text-align: center;
}

hr {
  border: 0.5px solid lightgray;
  margin-bottom: 1rem;
}

.checkout-message {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.button__signature {
  display: grid;
  place-content: center;
  background: none;
  border: none;
}

.button__signature a {
  margin-top: .5rem;
  font-size: 2rem;
  color: #333;
}

.btn__back, .btn__reset {
  padding: .5rem 1rem;
  background-color: var(--c-brand);
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  margin: .5rem 0;
}

/* Instructions Modal */
.instructions-modal {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: white;
  max-width: 800px;
  max-height: 100%;
  overflow-y: auto;
}

.instructions-modal__header {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.instructions-modal__header h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.instructions-modal p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.instructions-modal h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

.instructions-modal ul {
  margin-bottom: 1rem;
}

.instructions-modal li {
  font-size: 1rem;
  margin-left: 2rem;
}

.signature {
  margin-top: 0.5rem;
  display: grid;
  place-content: center;
  text-align: center;
}

/* Footer */
.footer {
  padding: 0.75rem;
  display: grid;
  place-content: center;
}

@media only screen and (min-width: 610px) {
  .title-container {
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    max-width: 750px;
  }

  .title-text {
    text-align: right;
    margin-right: 2rem;
  }

  .title-text h1 {
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .title-text h2 {
    font-weight: 300;
    font-size: 1.1rem;
  }
  
  .title-image {
    width: 50%;
  }

  .product-feed h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }

  .product-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    place-content: center;
  }

  .cart-product .grid-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr;
    column-gap: .5rem;
  }
}

@media only screen and (min-width: 992px) {  
  .title-image {
    width: 65%;
  }
}